.contmain {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5em;
}

.titulo {
  text-align: center;
  font-size: 3em;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #070617;
  color: white;
}

form {

}

.contform {
  padding: 1em;
  border: 1px solid #ffc600;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

form input, form select {
  width: 100%;
  border: none;
  padding: .5em;
  background: none;
  border-bottom: 2px solid rgb(216, 189, 33);
  color: #ffffff;
  outline: none;
}

.contform form input::placeholder {
  color: #adadad
}

.check {
  text-align: center;
}

.contform button {
  border: none;
  background: #3d3f61;
  padding: 0.5em;
}

.botones {
  text-align: center;
}

.contform button:hover,
.contform button:focus {
  background: rgb(28, 28, 66);
  color: #fff;
}

.contizq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  padding: 1em;
  background: #000000;
  box-shadow: 0 0 20px #191919
}

.contder {
  background: rgb(236, 236, 236);
  color: #111;
  padding: 1em;

}

.contder input {
  margin: .5em 0em;
  width: 100%;
  background: none;
  outline: none;
  color:#000;
  border-bottom: 2px solid rgb(187, 170, 22);
  transition:all .5s;
}
.incorrecto {
  border:2px solid #fa0506!important;
}

.correcto {
  border:2px solid #2f922c!important;
}

@media only screen and (max-width: 600px) {
  .contizq {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}

@media only screen and (min-width: 600.01px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    grid-column: 1 / 3;
    text-align: center;
  }

  [contenedor="selector"],
  [contenedor="drama"] {
    grid-column: 1 / 3;

  }

  .botones {
    grid-column: 1/3;
    text-align: center;
  }
}

@media only screen and (min-width: 900px) {
  [contenedor="selector"] {
    grid-column: 1 / 2;
  }
}

/* CSS PARA EL FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(163, 4, 36);
  gap: 0.2rem;
  font-family: 'Open Sans', sans-serif;
  color: aliceblue;
}

footer h3 {
  color: burlywood;
}

#click:hover {
  color: yellowgreen;
  cursor: pointer;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* aca cambia */
.footer .col ul li a {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

/* aca cambia */
.footer .col ul li a:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }

  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }

  .footer .col h1 {
    font-size: 14px;
  }

  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }

  .footer .col h1 {
    font-size: 14px;
  }

  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}