header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    margin: 0rem;
    padding: 0rem;
}

.logo-1 {    
    width: 4rem;
    margin-left: 2rem;
}

.logo-2 {
    width: 20rem;
}

.logo-3 {
    width: 8rem;
    height: 8rem;
    margin-right: 2rem;
}

/*----------------------*/

body {
    background-color:rgb(7,6,23);
}

.presentacion {
    background-image: linear-gradient(0deg,rgba(0,0,0,1),rgb(0,0,0,1));
    background-image: url(/IMG/bg-1.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    background-position: center center;
    height: 26rem;
}

.ofertas {
    background-color: rgb(7,6,23);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 2rem;
}

.anuncio {
    color:whitesmoke;
    text-align: center;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 40rem;
    height: 25rem;
}

.ofertas img {
    width: 35rem;
    height: 20rem;
    border-radius: 0.5rem;
    border-bottom: 4px solid #ffc8007c;
    border-right: 4px solid #ffc8007c;
}

.ofertas .carousel-inner img:hover {
    cursor: pointer;
    width: 37rem;
    height: 22rem;
    border-bottom: none;
    border-right: none;
}

.estrenos {
    background-color:rgb(218,53,47);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 2rem;
}

.contenedorEstreno {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 25rem;
}

.estrenos img {
    width: 35rem;
    height: 20rem;
    border-radius: 0.5rem;
    border-bottom: 4px solid  #ffc8007c;
    border-right: 4px solid  #ffc8007c;
}

.estrenos .carousel-inner img:hover {
    cursor: pointer;
    width: 37rem;
    height: 22rem;
    border-bottom: none;
    border-right: none;
}   

.noticias {
    background-color: rgb(7,6,23);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 2rem;
}

.contenedorNoticias {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 25rem;
}

.noticias img {
    width: 35rem;
    height: 20rem;
    border-radius: 0.5rem;
    border-bottom: 4px solid rgb(27, 23, 57);
    border-right: 4px solid rgb(27,23,57);
}

.noticias .carousel-inner img:hover {
    cursor: pointer;
    width: 37rem;
    height: 22rem;
    border-bottom: none;
    border-right: none;
}

.informacion {
    background-color:#da352f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}

.informacion img {
    width: 20rem;
    height: 20rem;
}

@media (max-width: 1023px) {

    header {
        height: 0%;
        margin: 0%;
        padding: 0%;
    }
    
    .logo-1 {    
        width: 6%;
        margin-left: 8%;
    }
    
    .logo-2 {
        width: 30%;
    }
    
    .logo-3 {
        width: 10%;
        height: 10%;
        margin-right: 3%;
    }

    .presentacion {
        height: 30%;
    }

    .ofertas {
        padding-left: 5%;
        padding-right: 10%;
        gap: 5%;
    }
    
    .ofertas img {
        width:400px;
        height: 260px;

    }
    
    .ofertas .carousel-inner img:hover {
        width: 450px;
        height: 300px;
    }

    .estrenos {
        padding-left: 5%;
        padding-right: 10%;
        gap: 5%;
    }

    .estrenos img {
        width: 450px;
        height: 300px;
    }
    /* ACA QUEDÉ POR HOY
    .estrenos .carousel-inner img:hover {
        cursor: pointer;
        width: 37rem;
        height: 22rem;
        border-bottom: none;
        border-right: none;
    }   



}

@media (max-width: 767px) {}