/*------------------DEFINIENDO ASPECTOS GENERALES------------------*/

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color:whitesmoke;
}
header {
    background-color:rgb(7,6,23);
    height: 7rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #f96905;
}

/* ------------------DEFINIENDO ASPECTOS DEL NAVGADOR------------------*/
/* ------------------ANIMACIÓN DE MENÚ------------------*/
.menu_ham {
    display:none;
  }
/* ESTILO DEL MENÚ*/  
nav {
  background: #000000;
  border: 1px solid rgb(239, 184, 16);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 20px 40px;

}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0rem;
}

nav ul li {
  display: block;
  text-align: center;
  background: transparent;
  transition: all .5s;

}

nav ul li:hover {
  background: #ffc600;
  color: #000;
}

/*DEFINIENDO BOTONES*/

button {
    background-color: rgb(239, 184, 16);
    color:rgb(7,6,23);
    font-weight: 800;
    padding:0.8rem 1.2rem;
    border: none;
    border-radius: 0.4rem;
    border-bottom: 4px solid rgb(50,50,50);
    border-right: 4px solid  rgb(50,50,50);
}

button:hover {
    cursor: pointer;
    background-color: rgb(239, 184, 16);
    box-shadow: 0px 0px 5px 5px rgb(239, 184, 16);
    border-bottom: none;
    border-right: none;
    font-size: 1rem;
}

/*ORGANIZANDO EL HEADER*/

.logo-1 {
    display: none;
}

.logo-2 {
    width: 20rem;
}

.logo-3 {
    display: none;
}

/*DEFINIENDO SECCIÓN DE PRESENTACIÓN*/

.presentacion {
    background-image: url("/IMG/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 23rem;
}
.cuadro {
    margin: auto auto;
    max-width: 30rem;
    text-align: center;
    padding: 1rem 1rem;
}
.cuadro h2 {
    font-size: 3rem;
    color: rgb(7,6,23);
    font-weight: 500;
}
.cuadro h3 {
    font-size: 1.7rem;
    color: rgb(7,6,23);
    font-weight: 500;
}
.cuadro p {
    display: none;
}
.cuadro hr {
    margin: 1.5rem;
}

/*DANDO CARACTERISITCAS A LAS DIFERENTES SECCIONES DEL BODY*/

.caja1 {
    background-color: rgb(7,6,23);
    height: 20rem;
}
.caja2 {
    background-color: rgb(218,53,47);
    height: 20rem;
}

.caja3 {
    background-color: rgb(7,6,23);
    height: 20rem;
}

.caja4 {
    background-color: rgb(218,53,47);
    height: 20rem;
}

/* ESCONDIENDO LAS IMÁGENES*/
.portaretrato {
    display: none;
}

/*DEFINIENDO PÁRRAFOS*/
.texto {
    margin: auto auto;
    max-width: 30rem;
    text-align: center;
    padding: 4.7rem 4.7rem;
}
.texto h3 {
    font-weight: 350;
    padding-bottom: 2em;
}
.texto-1 {
    margin: auto auto;
    max-width: 40rem;
    text-align: center;
    padding: 2.8rem 2.3rem;
}
.texto-1 h3 {
    padding: 0.5rem;
    font-weight: 400;
    font-size: 1.6rem;
}
.texto-1 button {
    margin-top: 1rem;
}

/*ESCONDIENDO LAS IMÁGENES*/

.noticias {
    display: none;
}

/*--------TRABAJANDO SOBRE LA SECCIÓN DE PELICULAS--------

.contenedor {
    max-width: 10000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    background-color: rgb(218,53,47);
    padding: 2%;
}

.contenedor .pelicula {
    text-align: center;
}

.contenedor .pelicula .titulo {
    font-size: 2.5rem;
    font-weight: 500;
    color:#000;
}

.contenedor .pelicula .resumen {
    font-size: 16px;
    font-weight: 300;
    color:#000;
}

.contenedor .pelicula .poster {
    width: 28rem;
    height: 40rem;
    border-radius: 0.8rem;
}
*/
/*DEFINIENDO EL ASPECTO DEL FOOTER*/

.footer {
    display: flex;
    flex-direction: row;
    background-color: #070617;
    width: 100%;
    
}

.descripcion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 80%;
    padding: 2rem 1rem;
}

.colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colum h1 {
    font-size: 12px;
    padding-bottom: 1rem;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing: 0.150em;
}

.colum ul {
    list-style-type: none;
    text-align: center;
    display: visibility;
}

.colum ul li a {
    
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.copy p {
    color:#f96905;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}

.social ul {
    display: flex;
    gap:0.9rem;
}

.colum a:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}


/*DANDOLE EL ASPECTO MOBILE*/

@media (min-width: 760px) {

    /*CARACTERIZANDO EL HEADER*/

    header {
        height: 9rem;
        text-align: center;
    }
    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-1 {
        display:inline;    
        width: 6rem;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
        
    .logo-3 {
        display: inline;
        width: 8rem;
        height: 8rem;
        margin-right: 1rem;
    }

    /*CARACRTERIZANDO A LOS BOTONES*/

    button {
        font-weight: 550;
        padding:1rem 3rem;
        font-size: 1rem;
    }

    /*CARACTERIZANDO PRESENTACIÓN*/

    .presentacion {
        height: 47rem;
    }

    .cuadro {
        max-width: 70rem;
        text-align:justify;
        padding: 3rem 0rem 3rem 35rem;
    }

    .cuadro h2 {
        text-align: center;
        font-size: 4rem;
        color: rgb(7,6,23);
        font-weight: 500;
    }
    
    .cuadro h3 {
        text-align: center;
        font-size: 2rem;
        color: rgb(7,6,23);
        font-weight: 550;
        padding-bottom: 2rem;
    }
    
    .cuadro p {
        display: inline;
    }
    
    .cuadro hr {
        margin: 1.5rem;
    }
    .boton-1 {
        margin-left: 20rem;
        margin-top: 4rem;
    } 

    /*CARACTERIZANDO LAS SECCIONES DEL BODY*/

    .caja1 {
        height: 40rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 4rem 1rem;
        position:relative;
        overflow:hidden;
    }
    
    .caja2 {
        height: 55rem;
        position:relative;
        overflow:hidden;
    }
    .caja3 {
        height: 60rem;
        background-color: rgb(7,6,23);
        position:relative;
        overflow:hidden;
        padding-bottom: 2rem;
    }
    .caja4 {
        height: 20rem;
        background-color: rgb(218,53,47)
    }

    /*CARACTERIZANDO LOS PÁRRAFOS*/

    .texto {
        max-width: 80rem;
        text-align: center;
        padding: 4.7rem 4.7rem;
    }
    
    .texto h3 {
        font-weight: 150;
        padding-bottom: 0.2em;
        font-size: 2rem;
    }
    
    .texto-1 {
        margin: auto auto;
        max-width: 40rem;
        text-align: center;
    }
    
    .texto-1 h3 {
        padding: 0.5rem;
        font-weight: 400;
        font-size: 1.6rem;
    }
    
    .texto-1 button {
        margin-top: 0.2rem;
    }

    /*REALIZANDO LAS ANIMACIONES CON LAS IMÁGENES*/

    .portaretrato {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1%;
        animation-duration: 7s;
        animation-name: galeria_entrada;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .portaretrato:hover {
        cursor: pointer;
        animation: forwards;
    }
    
    .portaretrato img {
        width: 510px;
        height: 300px;
        border-radius: .8rem;
        box-shadow:  5px 5px 5px 0px rgb(39, 39, 39); 
        margin-bottom: 5%;
    }
    .portaretrato img #estrenos {
        width: 910px;
    }
    .portaretrato img:hover {
        width: 610px;
        height: 400px;
        transition-duration: 0.4s;
    }
    
    /*DEFINIENDO LA SECCIÓN DE NOTICIAS*/

    .noticias {
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        flex-wrap: wrap;
        align-items:center;
    }
    .noticias img {
        height: 300px;
        width: 330px;
        padding: 1rem;
        border-radius: 2rem;
    }
    .noticia {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        max-width: 350px;
        height: 550px;
        background-color:rgba(0, 0, 0, 0.582);
        border-radius: 2rem;
        box-sizing:content-box;
        box-shadow: 5px 5px 5px 0px rgb(39, 39, 39, 0.8);
        margin: 2rem;
    }
    .noticia h5 {
        font-size: 3rem;
        font-weight: 100;
        padding: 0px 10px;
    }
    .noticia p {
        font-size: 1rem;
        font-weight: 100;
        padding: 0px 10px;
    }
    .contain {
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
        width: 100vw;
    }

    /*MOVIMIENTO DE LAS IMÁGENES*/

    @keyframes galeria_entrada {
        from {
            margin-left: -70%;
            width: 100%;
        }
    
        to {
            margin-left: 70%;
            width: 100%;
        }
        
    }
}

/*CARACTERIZANDO ESPECIALMENTE A LA BARRA DE MENÚ*/

@media only screen and (max-width: 600px) {
    .menu_ham {
        display:none;
    } 
    
    .menu_ham {
      position:fixed;
      background:#070617;
      border-radius:5px;
      top:10px;
      right:10px;
      display:block;
      width:30px;
      height:30px;
      cursor:pointer;
      margin-left:20px;
      z-index:1000;
    }
    
    .menu_ham span {
    display:block;
    width:100%;
    height:2px;
    background:#dbad20;
    margin-top:6px;
    transition:all 300ms;
    transform-origin:0px 100%;
    }
    
    .activeLine1__menu_ham {
      transform:rotate(45deg) translate(-2px, 1px);
    }
  
    .activeLine2__menu_ham {
      opacity:0;
      margin-left:-30px;
    }
    
    .activeLine3__menu_ham {
      transform:rotate(-45deg) translate(-4px, 2px);
    }
  
    .navebar {
      display:block;
      position:fixed;
      top:0;
      left:0;
      background:#000000;
      color:rgb(255, 255, 255);
      width:100vw;
      height:100vh;
      border:none;
      z-index:700;
      transform:translateX(-100%);
      transition:all 300ms ease-in;
    }
    
    .activenavbar{
      transform:translateX(0%);
    }      
    
    nav ul {
      margin-top:20vh;
      display:flex;
      flex-direction: column;
      justify-content:space-around;
      row-gap:3em;
    }
    
    nav ul li {
      width: 100%;
      font-size:2em;
    }
    
    nav a {
      text-decoration: none;
      display: block;
      padding: 5px 30px;
    }
}  

/*DEFINIENDO EL FOOTER RESPONSIVE*/
@media (max-width: 840px) {

    .descripcion {
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    
    .colum ul {
        display: none;
    }
        
    .copy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    .social ul {
        display:none;
    }
    
    .colum h1:hover {
        color:#dbad20;
        transition: .1s;
        -webkit-transition: .1s;
        -moz-transition: .1s;
        cursor:pointer;
        font-size: 13px;
    }

    .colum:hover > ul{
        display: block;
        padding-bottom: 1rem;
        float:inline-start;     
    }
}

@media (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction:column;
    }

    .descripcion {
        width: 100%;
    }

    .copy {
        padding-bottom: 2rem;
        width: 100%;
    }
}
