/* Responsive para dispositivos desde 600px para abajo */

@media screen and (max-width: 600px) {
    .menu a {
        color: blue;
        display: flex;
        flex-direction: column;
        font-size: 60%;
        padding: 3px;
    }

    body {
        font-size: 50%;
        /* achicamos la fuente en pantallas pequeñas */
    }

    .Tramo1 {
        background-image: url('../IMG/Img1.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        color: antiquewhite;
        display: flex;
        flex-direction: column;
        height: 40rem;
        margin: 2rem;
        border-radius: 1.5rem;
        font-family: fantasy;
        font-size: 1.2rem;
        box-shadow: 10px 5px 5px rgb(150, 150, 150);
    }

    #titulo_cartelera {
        font-family: fantasy;
        font-size: 12rem;
        color: rgb(180, 52, 33);
        text-shadow: 5px 5px 5px rgb(150, 150, 150);
        justify-content: center;
        padding-top: 5rem;
        padding-left: 3rem;
    }

    .cartelera1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        margin: 6rem;
        margin-right: 12rem;
        padding-left: 8rem;
    }

}


* {
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(230, 230, 230)
}

a {
    text-decoration: none;
    color: chocolate;
    font-family: 'Alegreya', serif;
    font-weight: bold;
}

.Tramo1 {
    background-image: url('../IMG/Img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    height: 40rem;
    margin: 2rem;
    border-radius: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    box-shadow: 10px 5px 5px rgb(150,150,150);
}

.Tramo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80rem;
}

.Tramo3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
}


#titulo_cartelera {
    font-family: fantasy;
    font-size: 4rem;
    color:rgb(180, 52, 33);
    text-shadow: 5px 5px 5px rgb(150,150,150);
}

#titulo_proximos_estrenos {
    font-family: fantasy;
    font-size: 4rem;
    color: rgb(180, 52, 33);
    text-shadow: 5px 5px 5px rgb(150, 150, 150);
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
    margin-left: 2rem;
    margin-top: 2rem;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    border: solid rgb(227, 181, 181);
    border-radius: 1.5rem;
    padding: 2rem;

}

.cartelera1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    margin: 6rem;
    margin-right: 12rem;
}

.cartelera1 img {
    width: 15rem;
    height: 20rem;
    border-radius: 0.5rem;
    box-shadow: 10px 5px 5px rgb(150,150,150);
}

.cartelera2 {
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    gap: 4rem;
    margin: 6rem;
    margin-left: 13rem;
}

.cartelera2 img {
    width: 17rem;
    height: 22rem;
    border-radius: 0.5rem;
    box-shadow: 10px 5px 5px rgb(150,150,150);
}

.cartelera3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    margin: 6rem;
    margin-right: 12rem;
}

.cartelera3 img {
    width: 15rem;
    height: 20rem;
    border-radius: 0.5rem;
    box-shadow: 10px 5px 5px rgb(150,150,150);
}

.texto1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.texto2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.texto3 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.texto1 h2 {
    margin-top:1rem;
    font-size: 2rem;
}

.texto2 h2 {
    margin-top:1rem;
    font-size: 2rem;
}

.texto3 h2 {
    margin-top:1rem;
    font-size: 2rem;
}


/* CSS PARA EL FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(163, 4, 36);
    gap:0.2rem;
    font-family: 'Open Sans', sans-serif;
    color:aliceblue;
}

footer h3 {
    color:burlywood;
}

#click:hover {
    color:yellowgreen;
    cursor: pointer;
}

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }