header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 12rem;
    margin: 0rem;
    padding: 0rem;
}

.logo-1 {    width: 7rem;
    height: 7rem;
    margin-left: 2rem;
}

.logo-2 {
    width: 25rem;
    height: auto;
    padding-top: 2rem;
}

.logo-3 {
    width: 7rem;
    height: 7rem;
    margin-right: 2rem;
}

/*----------------------*/

body {
    /*background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgb(0,0,0,0.5));*/
    background-image: url(/IMG/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
<<<<<<< HEAD
    height: 20rem;
}

.ofertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(7,6,23);
    width: 40rem;
    height: 20rem;
    margin-left: 45rem;
    border: 1px solid #ffc600;
    border-radius: 0.8rem;
    margin: 5rem;
    box-shadow: 0.5rem 0.5rem 1rem #ffc80081;
}

.ofertas img {
    width: 400px;
    height: 200px;
=======
    height: 1000px;
>>>>>>> 6ee93539f8e8f7c35698a54bfcb5d942e086b1d5
}