
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color:whitesmoke;
}

header {
    background-color:rgb(7,6,23);
    height: 7rem;
    text-align: center;
}

nav {
    background: #000000;
    border: 1px solid rgb(239, 184, 16);
}

a {
    text-decoration: none;
    color: rgb(255,189,89);
}

a:hover {
    color: rgb(218,53,47);
}

nav ul li {
    text-align: center;
    font-size: 1rem;
}

nav ul li:hover {
    background: #ffc600;
    color: #000;
}

button {
    background-color: rgb(239, 184, 16);
    color:rgb(7,6,23);
    font-weight: 800;
    padding:0.8rem 1.2rem;
    border: none;
    border-radius: 0.4rem;
    border-bottom: 4px solid rgb(50,50,50);
    border-right: 4px solid  rgb(50,50,50);
}

button:hover {
    cursor: pointer;
    background-color: rgb(239, 184, 16);
    box-shadow: 0px 0px 5px 5px rgb(239, 184, 16);
    border-bottom: none;
    border-right: none;
    font-size: 1rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(7,6,23);
    gap: 0.2rem;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    font-weight: 200;
    padding: auto auto;
    text-align: center;
    height: auto;
}

.logo-1 {
    display: none;
}

.logo-3 {
    display: none;
}

.presentacion {
    background-image: url("/IMG/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 20rem;
}

.cuadro {
    margin: auto auto;
    max-width: 30rem;
    text-align: center;
    padding: 1rem 1rem;
}

.cuadro h2 {
    font-size: 3rem;
    color: rgb(7,6,23);
    font-weight: 500;
}

.cuadro h3 {
    font-size: 1.7rem;
    color: rgb(7,6,23);
    font-weight: 500;
}

.cuadro p {
    display: none;
}

.cuadro hr {
    margin: 1.5rem;
}

.caja1 {
    background-color: rgb(7,6,23);
    height: 20rem;
}

.caja2 {
    background-color: rgb(218,53,47);
    height: 20rem;
}

.caja3 {
    background-color: rgb(7,6,23);
    height: 20rem;
}

.caja4 {
    background-color: rgb(218,53,47);
    height: 20rem;
}

.portaretrato {
    display: none;
}

.texto {
    margin: auto auto;
    max-width: 30rem;
    text-align: center;
    padding: 4.7rem 4.7rem;
}

.texto h3 {
    font-weight: 350;
    padding-bottom: 2em;
}

.texto-1 {
    margin: auto auto;
    max-width: 40rem;
    text-align: center;
    padding: 2.8rem 2.3rem;
}

.texto-1 h3 {
    padding: 0.5rem;
    font-weight: 400;
    font-size: 1.6rem;
}

.texto-1 button {
    margin-top: 1rem;
}

.noticias {
    display: none;
}

.footer .colu {
    width: 250px;
    float: left;
}

.footer .colum h1 {
    font-size: 13px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .colum ul {
    list-style-type: none;
}

.footer .colum ul li a {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px;
}

.footer .colum ul li a:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.contain {
    padding: 2% 8%;
}

@media (min-width: 760px) {
    header {
        height: 9rem;
        text-align: center;
    }

    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-1 {
        display:inline;    
        width: 6rem;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
        
    .logo-3 {
        display: inline;
        width: 8rem;
        height: 8rem;
        margin-right: 1rem;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content:end;
        align-items: center;
        list-style: none;
    }

    nav ul li {
        width: 150px;
        padding:0.5rem;
    }

    button {
        font-weight: 550;
        padding:1rem 3rem;
        font-size: 1rem;
    }

    .presentacion {
        height: 47rem;
    }

    .cuadro {
        max-width: 70rem;
        text-align:justify;
        padding: 3rem 0rem 3rem 35rem;
    }
    
    .cuadro h2 {
        text-align: center;
        font-size: 4rem;
        color: rgb(7,6,23);
        font-weight: 500;
    }
    
    .cuadro h3 {
        text-align: center;
        font-size: 2rem;
        color: rgb(7,6,23);
        font-weight: 550;
        padding-bottom: 2rem;
    }
    
    .cuadro p {
        display: inline;
    }
    
    .cuadro hr {
        margin: 1.5rem;
    }

    .boton-1 {
        margin-left: 20rem;
        margin-top: 4rem;
    } 

    .caja1 {
        height: 40rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 4rem 1rem;
        position:relative;
        overflow:hidden;
    }
    
    .caja2 {
        height: 55rem;
        position:relative;
        overflow:hidden;
    }

    .caja3 {
        height: 60rem;
        background-color: rgb(7,6,23);
        position:relative;
        overflow:hidden;
        padding-bottom: 2rem;
    }

    .caja4 {
        height: 20rem;
        background-color: rgb(218,53,47)
    }

    .texto {
        max-width: 80rem;
        text-align: center;
        padding: 4.7rem 4.7rem;
    }
    
    .texto h3 {
        font-weight: 150;
        padding-bottom: 0.2em;
        font-size: 2rem;
    }
    
    .texto-1 {
        margin: auto auto;
        max-width: 40rem;
        text-align: center;
    }
    
    .texto-1 h3 {
        padding: 0.5rem;
        font-weight: 400;
        font-size: 1.6rem;
    }
    
    .texto-1 button {
        margin-top: 0.2rem;
    }

    .portaretrato {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1%;
        animation-duration: 7s;
        animation-name: galeria_entrada;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .portaretrato:hover {
        cursor: pointer;
        animation: forwards;
    }
    
    .portaretrato img {
        width: 510px;
        height: 300px;
        border-radius: .8rem;
        box-shadow:  5px 5px 5px 0px rgb(39, 39, 39); 
        margin-bottom: 5%;
    }

    .portaretrato img #estrenos {
        width: 910px;
    }

    .portaretrato img:hover {
        width: 610px;
        height: 400px;
        transition-duration: 0.4s;
    }
    
    .noticias {
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        flex-wrap: wrap;
        align-items:center;
    }

    .noticias img {
        height: 300px;
        width: 330px;
        padding: 1rem;
        border-radius: 2rem;
    }

    .noticia {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        max-width: 350px;
        height: 550px;
        background-color:rgba(0, 0, 0, 0.582);
        border-radius: 2rem;
        box-sizing:content-box;
        box-shadow: 5px 5px 5px 0px rgb(39, 39, 39, 0.8);
        margin: 2rem;
    }

    .noticia h5 {
        font-size: 3rem;
        font-weight: 100;
        padding: 0px 10px;
    }

    .noticia p {
        font-size: 1rem;
        font-weight: 100;
        padding: 0px 10px;
    }

    .contain {
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
        width: 100vw;
    }


    @keyframes galeria_entrada {
        from {
            margin-left: -70%;
            width: 100%;
        }
    
        to {
            margin-left: 70%;
            width: 100%;
        }
        
    }
}